html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #1b2638;
}
main {
  align-items: flex-start;
}
.header {
  padding: 1px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: xx-large;
  background-color: #1b2638;
  color: #64ffda;
  position: relative;
}
#elliott {
  position: relative;
  display: inline-block;
  width: 30%;
  left: 0px;
  padding-left: 30px;
}
.links-list {
  width: 30%;
  position: relative;
  display: inline-flex;
  left: 20%;
  justify-content: space-between;
  list-style: none;
}
.link {
  color: #64ffda;
}
.link2 {
  color: #a7f3e1;
}
.pic1 {
  height: 200px;
  width: 100%;
  background-image: url("../assets/images/pic1.jpg");
  background-position: bottom;
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
}
.about-me {
  display: flex;
}
.float-left {
  float: left;
  left: 8%;
  font-size: 40px;
  position: relative;
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}
.description {
  font-size: 30px;
  color: #a7f3e1;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}
span {
  font-size: 30px;
  color: #a7f3e1;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}
.vl {
  border-left: 6px solid #a7f3e1;
  height: auto;
  position: relative;
}
.vl2 {
  border-left: 6px solid #a7f3e1;
  height: auto;
  position: relative;
}
.vl3 {
  border-left: 6px solid #a7f3e1;
  height: auto;
  position: relative;
}

.contact-me {
  width: 100%;
  margin-top: 30px;
  position: relative;
  bottom: 0;
  display: flex;
}
.contact-list {
  font-size: 30px;
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  list-style: none;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}
.portfolio {
  width: 100%;
  margin-top: 30px;
  position: relative;
  display: flex;
}
.img {
  width: 450px;
  height: 250px;
  filter: grayscale(0.7);
}
.img-big {
  width: 600px;
  height: 350px;
  filter: grayscale(0.7);
}
.img:hover {
  opacity: 0.8;
  z-index: 10;
}
.img-big:hover {
  opacity: 0.8;
  z-index: 10;
}
.container-portfolio {
  width: 75%;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}
.subtitle {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.card {
  padding: 4px;
}
.avatar {
  border-radius: 20%;
  height: 80px;
  margin-top: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 992px) {
  .links-list {
    flex-direction: column;
    width: 100%;
  }
  .about-me {
    flex-direction: column;
  }
  .subtitle {
    width: 100%;
  }
  .container-portfolio {
    width: 100%;
  }
  .portfolio {
    flex-direction: column;
  }
  .img {
    width: 390px;
  }
  .contact-me {
    flex-direction: column;
  }
}
